<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Liste des factures</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-6 font-sans flex items-center flex-col min-h-screen">

<h1 class="text-2xl font-bold mb-6">Liste des factures</h1>

<div class="flex mb-6 gap-2">
    <a class="mb-6 bg-green-600 text-white py-2 px-4 rounded hover:bg-green-700"  href="{% url 'produits_facture' %}" >
        Créer une nouvelle facture
    </a>
    <a class="mb-6 bg-gray-600 text-white py-2 px-4 rounded hover:bg-gray-700" href="{% url 'liste_produits' %}">
        Voir les produits
    </a>
</div>

<div class="pagination mb-6 flex justify-center space-x-2">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-1 bg-gray-300 rounded hover:bg-gray-400">Précédent</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <span class="px-3 py-1 bg-blue-600 text-white rounded">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}" class="px-3 py-1 bg-gray-300 rounded hover:bg-gray-400">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-1 bg-gray-300 rounded hover:bg-gray-400">Suivant</a>
        {% endif %}
    </div>


<div class="w-full max-w-2xl">
    {% if page_obj.object_list %}
        <ul class="space-y-4">
            {% for facture in page_obj  %}
                <li class="bg-white p-4 rounded shadow flex justify-between items-center">
                    <div>
                        <p class="font-semibold text-lg">Facture #{{ facture.id }}</p>
                        <p class="text-gray-600">Date : {{ facture.date|date:"d/m/Y H:i" }}</p>
                        <p class="text-gray-600">Nombre de produits : {{ facture.nombre_produits }}</p>
                        <p class="text-gray-600 font-bold">Total : {{ facture.total }} €</p>
                    </div>
                    <div>
                        <a href="{% url 'facture_detail' facture.id %}" class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">Voir détails</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-gray-600">Aucune facture disponible.</p>
    {% endif %}
</div>


</body>
</html>
